<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412066533493-lv2sps8telheqai3ps8nrkbqinenunlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412066533493-lv2sps8telheqai3ps8nrkbqinenunlm</string>
	<key>API_KEY</key>
	<string>AIzaSyDGyHU3Xh2ZFB0nUjeCiX_yLY6c0Zk64sU</string>
	<key>GCM_SENDER_ID</key>
	<string>412066533493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maha.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-2d55d</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2d55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412066533493:ios:c057f8ed990da29150283c</string>
</dict>
</plist>